doctype html
html
    head
        title Crunchtime
        link(rel="icon" type="image/png" href="/public/images/favicon.ico")
        link(rel="stylesheet", href="/public/styling.css")
        script(src="/public/update.js")
    body(onload="getLive()")
        #header.header
            img.logo(src="/public/images/logo.png", alt="Crunchtime Logo")
            h1.title crunchtime
        #games.scoreboard
        #current
            h3.player No games on right now
            iframe#stream(
                src="https://givemereddit.eu/nba/grizzlies.html",
                width="800px",
                height="450px",
                scrolling="no",
                frameborder="0",
                allowfullscreen="true",
                allow="autoplay; encrypted-media"
            )
        br
        br
